.content {
    width: 600px;
    height: 400px;
    background-color: brown;
}

#sidebar {
    width: 300px;
    height: 400px;
    background-color: cadetblue;
    float: right;
    margin-top: -400px;

}